<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssurityAPIProj.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AssurityAPIProj.Settings1>
            <setting name="baseUrl" serializeAs="String">
                <value>https://api.tmsandbox.co.nz</value>
            </setting>
            <setting name="endPoint" serializeAs="String">
                <value>/v1/Categories/6327/Details.json?catalogue=false</value>
            </setting>
        </AssurityAPIProj.Settings1>
    </applicationSettings>
</configuration>